<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emily Charron</title>
</head>
<body>
<h1>Hello! My name is Emily Charron</h1>

<!-- strong and emphasize much be used twice each to meet assignment criteria-->
<h2>I am a senior at the <em>Robert H. Smith School of Business.</em></h2>

<h2>I am currently enrolled in the <em>Plus One Program</em> at the Smith School.</h2>

<p>Through the Plus One Program, I am pursuing my master's in <strong>information systems.</strong></p>
<p>I plan to graduate with my bachelor's in <strong>May 2026</strong>, and my master's in May 2027.</p>

    <p>These are the master's classes I have taken: </p>

    <ul>
        <li>BUDT702</li>
        <li>BUDT704</li>
        <li>BUDT721</li>
    </ul>

    <p>Some of my relevant coursework I have taken at the undergraduate level include:</p>

    <ol>
        <li>BMGT302</li>
        <li>BMGT403</li>
    </ol>

    <p>Here are some other courses I have also taken and the semester I took them in:</p>

    <!-- Table must have 3 rows to meet assignment criteria-->
    <table>
            <tr>
                <th>Course</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT484</td>
                <td>Fall 2025</td>
            </tr>
            <tr>
                <td>ENGL394</td>
                <td>Spring 2025</td>
            </tr>
            <tr>
                <td>BMGT332</td>
                <td>Fall 2024</td>
            </tr>
    </table>

    <p>A link to another page:<a href = "/hello">Hello</a></p>
    <!-- Need to include links to 2 websites that I like to meet assignment criteria -->

    <p>This link will<a href = "https://www.pinterest.com/" target = "_blank">open Pinterest in a new tab!</a>
    </p>

    <p> This link will take you to <a href = "https://www.youtube.com/"> YouTube</a>
    </p>

    <p>Here is a picture of the logo for the Smith School</p>

    <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width = "267" height = "72" alt = "Smith School Logo">
</body>
</html>