{% extends "base.html" %}

{% block title %}Contact{%  endblock %}

{% block header %}Contact Form{% endblock %}

{%  block content %}

<div class="container">


    {% if form_submitted %}
        <div class="col-12">
            <h2>Thank you for completing my form!</h2>
        </div>

        <div class="col-md-6">
            <p>First Name:</p>
        </div>

        <div class="col-md-6">
            <p>{{ request.form.get('first_name') }}</p>
        </div>

        <div class="col-md-6">
            <p>Last Name:</p>
        </div>

        <div class="col-md-6">
            <p>{{ request.form.get('last_name') }}</p>
        </div>

        <div class="col-md-6">
            <p>Email:</p>
        </div>

        <div class="col-md-6">
            <p>{{ request.form.get('email') }}</p>
        </div>

        <div class="col-md-6">
            <p>Phone Number:</p>
        </div>

        <div class="col-md-6">
            <p>{{ request.form.get('phone_number') }}</p>
        </div>

        <div class="col-md-6">
            <p>Agree to Be Contacted:</p>
        </div>

        <div class="col-md-6">
            <p>{{ 'Yes' if request.form.get('agree_check') else 'No' }}</p>
        </div>

        <p><a href="{{ url_for('contact') }}">Complete form again</a>
        </p>

    {% else %}


<form class="row g-3" action="{{ url_for('contact') }}" method="post">
    <div class="col-md-6">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
    </div>

    <div class="col-md-6">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
    </div>

    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <small id="emailHelp" class="form-text text-muted">Your email will not be shared with anyone else.</small>
    </div>

    <div class="col-md-6">
        <label for="phone_number" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="phone_number" name="phone_number">
    </div>

    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="agree_check" name="agree_check">
            <label class="form-check-label" for="agree_check">
                I agree to be contacted
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit Form</button>
    </div>
</form>

{% endif %}
    </div>
{% endblock %}


